.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  :global {
    .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }
    .dropdown-menu {
      border: none;
      padding: 0;
    }
    a {
      font-weight: 500;
      &:hover {
        color: #1677ff;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
}
