.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  :global {
    .container {
      flex-wrap: wrap !important;
    }
    .navbar-toggler-icon {
      width: 20px;
      height: 20px;
    }
    .dropdown-menu {
      border: none;
      padding: 0;
    }
    a {
      font-weight: 500;
      &:hover {
        color: #1677ff;
      }
      &:active {
        background-color: transparent;
      }
    }
  }
}
